#!/usr/bin/env bash
#
# Keystroke-saving shortcuts

# DOTFILES
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias bashprofile="nano ~/.bash_profile && . ~/.bash_profile"
alias bashrc="nano ~/.bashrc && . ~/.bashrc"
alias aliases="nano ~/.aliases && . ~/.aliases"
alias functions="nano ~/.functions && . ~/.functions"

# RICING
alias xresapply="xrdb -merge ~/.Xresources"

# NAVIGATION
alias path="pwd"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# DIRECTORIES
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"
alias p="cd ~/Documents/projects"
alias home="cd ~"
alias ll="ls -lah"
alias PATH='echo -e ${PATH//:/\\n}'
alias mkdir="mkdir -p"

# GIT
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gm="git checkout main"
alias gc="git commit -m"

# DOCKER
alias d="docker"
alias dc="docker-compose"
alias dcup="docker-compose up -d"
alias dcdown="docker-compose down"
alias dcrestart="docker-compose down && docker-compose up -d"
alias dcupdate="docker-compose pull && docker-compose up -d"

# PROGRAMS
alias cp="cp -i"
alias mv="mv -i"
alias grep="grep --color=auto"
alias highlight="grep -A 9999 -B 9999"
alias htop="bpytop"
alias vscode="code"
alias tf="terraform"
alias qrencode="qrencode -t ansiutf8"
alias diff='colordiff -yW"$(tput cols)"'
alias webserver="open 'http://localhost:8000'; python3 -m http.server"

# MISC
alias weather='curl wttr.in/$(curl -s https://ipinfo.io/city)'
alias fuck="sudo !!"
alias internalip='[[ $(uname) == "Darwin"* ]] && ipconfig getifaddr en0 || hostname --all-ip-addresses'
alias publicip="curl -s https://checkip.amazonaws.com"
alias pip3upgradeall="pip3 list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 pip3 install -U"
