# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bertie Wilson
	email = 19255166+bertiewils@users.noreply.github.com
[color]
	ui = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
